{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Name
                </th>
                <th>
                    Shares
                </th>
                <th>
                    Price
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>

        {% if stocks %}
        <tbody>
            {% for stock in stocks %}

            {% if stock.shares %}
            <tr>
                <td>
                    {{ stock.symbol }}
                </td>
                <td>
                    {{ stock.name }}
                </td>
                <td>
                    {{ stock.shares }}
                </td>
                <td>
                    {{ stock.price | usd }}
                </td>
                <td>
                    {{ stock.value | usd}}
                </td>
                <td class="col col-lg-2">
                    <form action="/buy" class="input-group" method="post" >
                        <button class="btn btn-primary" type="submit">Buy</button>
                        <input name="symbol" value="{{ stock.symbol }}" type="hidden">
                        <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text">
                        <button class="btn btn-primary" formaction="/sell" type="submit">Sell</button>
                    </form>
                </td>
            </tr>
            {% endif %}

            {% endfor %}

            {% endif %}
            <tr>
                <td class="fw-bold text-end" colspan="4">Cash</td>
                <td>{{ cash | usd}}</td>
                <td>
                    <form action="/add_cash" method="post" >
                        <button class="btn btn-primary" type="submit">Add cash</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="fw-bold text-end" colspan="4">TOTAL</td>
                <td>{{ totalCash | usd}}</td>
                <td></td>
            </tr>

            {% if stocks %}
            <tr>
                <td class="border-0 fw-bold pt-5" colspan="6"></td>
            </tr>
            {% for stock in stocks %}

            {% if not stock.shares %}
            <tr>
                <td>
                    {{ stock.symbol }}
                </td>
                <td>
                    {{ stock.name }}
                </td>
                <td>
                    {{ stock.shares }}
                </td>
                <td>
                    {{ stock.price | usd }}
                </td>
                <td></td>
                <td class="col col-lg-2">
                    <form action="/buy" class="input-group" method="post" >
                        <button class="btn btn-primary" type="submit">Buy</button>
                        <input name="symbol" value="{{ stock.symbol }}" type="hidden">
                        <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text">
                    </form>
                </td>
            </tr>
            {% endif %}

            {% endfor %}

            {% endif %}
        </tbody>
    </table>

{% endblock %}