{% extends "layout.html" %}

{% block main %}

    {% if quote %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Symbol
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ quote.symbol }}
                    </td>
                    <td>
                        {{ quote.name }}
                    </td>
                    <td>
                        {{ quote.price | usd }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}